<html lang="en">
    <body>
        {{#each books}}
        <div id="book">
            <p id="title">{{title}}</p>
            <p id="author">{{author}}</p>
            <p id="copies">{{copies}}</p>
        {{/each}}
        </div>
    </body>
</html>
